<div class="project-form">
  <h1>Edite seu projeto</h1>
  <%= simple_form_for @project, html: { class: 'project-form' } do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :category %>
    <%= f.input :material %>
    <%= f.input :quantity%>
    <%= f.input :average_unit_price %>
    <%= f.input :school_year%>
    <%= f.input :limit_date %>
    <%= f.simple_fields_for :photo, ProjectPhoto.new do |photo_form| %>
    <%= photo_form.file_field :photo, multiple: true, name: "project_photos[]" %>
    <% end %>
    <%= f.button :submit, class: 'btn btn-outline-success' %>
  <% end %>
  <%= link_to "Voltar ao projeto", project_path(@project), class: 'btn', id:'back-to-project' %>
</div>
