<!DOCTYPE html>
<html>
  <head>
    <title>Educandomais</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript" defer src="https://donorbox.org/install-popup-button.js"></script>
    <script>window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' }</script>
<!--     <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
 -->
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
